* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  padding: 20px;
  background-color: #616161;
  color: white;
}

.container-foto {
  float: left;
  padding: 30px 50px 0 30px;
}

#photome {
  height: 600px;
  border-radius: 25%;
}

.bio {
  padding-right: 50px;
  margin: 20px;
  font-size: 14px;
}

.about {
  letter-spacing: 6px;
  font-size: 32px;
}

.cv p {
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
}

.cv {
  background-color: white;
  border: none;
  color: black;
  padding: 12px;
  cursor: pointer;
  font-size: 20px;
  display: block;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.cv:hover {
  background-color: #ddd;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

#contactme {
  text-align: center;
  background-color: #f1f1f1;
  margin-bottom: 0px;
  font-size: xx-large;
}

.gegevens p {
  padding-left: 25%;
  font-size: large;
}

#ursel {
  height: 280px;
  padding-left: 50px;
}

#tekst {
  text-align: center;
}

form {
  margin: 0 auto;
  display: block;
  padding-left: 80px
}

form label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

form input,
form textarea {
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  width: 500px;
}

form textarea {
  width: 500px;
  height: 150px;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #666;
}

.container {
  background-color: #f1f1f1;
  padding: 10px;
}

.col {
  width: 500px;
  margin-top: 6px;
}

.footer {
  background-color: black;
  padding: 10px;
  height: 100px;
  text-align: center;
}

.fa {
  display: inline-block;
  font-size: 24px;
}

.footer .fa {
  color: white;
  font-size: 24px;
}

.footer p {
  color: white;
  font-size: 18px;
}

.fa-facebook-official::before {
  content: "\f230";
}

.fa-instagram::before {
  content: "\f16d";
}

.hover-opacity:hover {
  opacity: 0.60;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {}