* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#logo {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 30px;
}

/* home */
.home {
  background-color: #616161;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  position: relative;
  height: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  text-align: center;
}

/* 
.bg-img {
  background-image: url('/afbeeldingen/');
  height: 800px;
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  opacity: 0.5;
} */

.display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.naam {
  letter-spacing: 10px;
  color: gold;
  font-size: 36px;
  padding: 12px 24px;
  background-color: black;
  animation: opac 0.8s;
  border-radius: 5px;
  display: block;
}

/* wie ben ik */
.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  padding: 20px;
  background-color: #616161;
  color: white;
}

.container-foto {
  float: left;
  padding: 30px 50px 0 30px;
}

#photome {
  height: 600px;
  border-radius: 25%;
}

.bio {
  padding-right: 50px;
  margin: 20px;
  font-size: 14px;
}

.about {
  letter-spacing: 6px;
  font-size: 32px;
  color: gold;
}

.cv p {
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
}

.cv {
  background-color: white;
  border: none;
  color: black;
  padding: 12px;
  cursor: pointer;
  font-size: 20px;
  display: block;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.cv:hover {
  background-color: #ddd;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

/* contact */
#contactme {
  padding-left: 41%;
  background-color: #616161;
  margin-bottom: 0px;
  letter-spacing: 6px;
  font-size: 32px;
  color: gold;
}

#ursel {
  border: 0;
  padding-left: 50px;
  padding-top: 30px;
  height: 350px;
  width: 550px;
}

.gegevens p {
  padding-left: 25%;
  font-size: large;
  color: white;
}

#tekst {
  text-align: center;
  color: white;
}

form {
  margin: 0 auto;
  display: block;
  padding-left: 180px
}

form label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: white;
}

form input,
form textarea {
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  width: 500px;
}

form textarea {
  height: 150px;
}

form input[type="submit"] {
  background-color: black;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

form input[type="submit"]:hover {
  background-color: #333;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.container {
  background-color: #616161;
  padding: 10px;
}

.col {
  width: 500px;
  margin-top: 6px;
}

/* footer */
.footer {
  background-color: #616161;
  padding: 10px;
  height: 100px;
  text-align: center;
}

.fa {
  display: inline-block;
  font-size: 24px;
}

.footer .fa {
  color: white;
  font-size: 24px;
}

.footer p {
  color: white;
  font-size: 18px;
}

.fa-facebook-official::before {
  content: "\f230";
}

.fa-instagram::before {
  content: "\f16d";
}

.hover-opacity:hover {
  opacity: 0.60;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row {
    display: block;
  }

  .side {
    padding: 10px;
  }

  .container-foto {
    padding-left: 30px;
    margin-bottom: 40px;
  }

  #photome {
    height: 400px;
    border-radius: 25%;
  }

  .bio {
    padding-left: 10px;
    padding-right: 10px;
  }

  .about {
    padding-left: 50px;
    text-align: center;
  }

  #contactme {
    padding-left: 100px;
    text-align: center;
  }

  #ursel {
    width: 350px;
    height: 250px;
    padding-left: 15px;
  }

  .gegevens p {
    padding-left: 80px;
  }

  form {
    display: block;
    padding-left: 40px
  }

  form input,
  form textarea {
    width: 300px;
  }

  form textarea {
    height: 100px;
  }
}