* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: white;
  opacity: 75%;
  color: black;
  padding: 10px 15px;
  border: none;
  z-index: 1;
  position: fixed;
  border: 3px black solid;
  border-radius: 5px;
}

.openbtn:hover {
  background-color: transparent;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.bg-titel {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  text-align: center;
}

.bg-img {
  background-image: url('/afbeeldingen/spoor2.png');
  width: auto;
  height: 800px;
  object-fit: cover;
  vertical-align: bottom;
  opacity: 0.5;
}

.display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.naam {
  letter-spacing: 10px;
  color: white;
  font-size: 36px;
  padding: 12px 24px;
  background-color: #292828;
  animation: opac 0.8s;
  border-radius: 5px;
  display: block;
}

#voetbal {
  height: 180px;
  float: left;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
}

#wereldkaart {
  height: 180px;
  display: inline-block;
  padding: 10px;
}

#cookies {
  height: 180px;
  display: inline-block;
  padding: 10px;
}

#VR {
  height: 180px;
  display: inline-block;
  padding: 10px;
}

.cv p {
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
}

.cv {
  background-color: gainsboro;
  border: none;
  color: black;
  padding: 12px;
  cursor: pointer;
  font-size: 20px;
  display: block;
}

.cv:hover {
  background-color: grey;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  padding: 20px;
  background-color: #616161;
  color: white;
}

#photome {
  height: 500px;
  padding-right: 20px;
  float: left;
  border-radius: 25%;
}

#bio {
  padding: 10px;
}

.about {
  letter-spacing: 6px;
  font-size: 36px;
}

#contactme {
  text-align: center;
  background-color: #f1f1f1;
  margin-bottom: 0px;
  font-size: xx-large;
}

.gegevens p {
  padding-left: 30%;
  font-size: x-large;
}

#ursel {
  height: 280px;
  padding-left: 50px;
}

#tekst {
  text-align: center;
}

form {
  max-width: 600px;
  margin: 0 auto;
  display: block;
  /* flex-wrap: wrap; */
  float: right;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

form input,
form textarea {
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  width: 100%;
}

form textarea {
  height: 150px;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #666;
}

.container {
  background-color: #f1f1f1;
  padding: 10px;
}

.col {
  float: right;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.footer {
  background-color: black;
  padding: 10px;
  height: 100px;
  text-align: center;
}

.fa {
  display: inline-block;
  font-size: 24px;
}

.footer .fa {
  color: white;
  font-size: 24px;
}

.footer p {
  color: white;
  font-size: 18px;
}

.fa-facebook-official::before {
  content: "\f230";
}

.fa-instagram::before {
  content: "\f16d";
}

.fa-snapchat::before {
  content: "\f2ab";
}

.hover-opacity:hover {
  opacity: 0.60;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }

  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}